* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
$columns: 12;
$column-width: 100%/$columns;
$breakpoints: (xs : 0, sm : 768px, md : 992px, lg : 1200px );
@function column-width($column) {
     @return $column-width*$column;
}
@mixin column($media, $min-width) {
     @media (min-width:$min-width){
            .column-#{$media}-5 {
                width: column-width(5);
                float: left;
            }
    }
}
@each $name, $width in $breakpoints {
     @include column($name, $width);
}


.bg-header {
    position: relative;
    background-color: rgba(0,0,0,0.4);
    height: 100vh;
    width: 100vw;
    text-align: center;
}

.main {
    position: relative;
    background-image: url("../img/banner.jpg");
    background-size: cover;
    background-position: 100% 30%;
    overflow: hidden;
}

.title {
    border-bottom: 3px #fff solid;
    border-top: 3px solid #fff;
    width: 322px;
    display: inline-block;
    color: #fff;
    margin-top: 210px;
    padding: 16px 0;
    font-family: sans-serif;
}

.btn-principal {
    width: 160px;
    height: 50px;
    border: none;
    background: #ED4933;
    color: #fff;
    border-radius: 4px;
}

.bg-header p {
    display: inline-block;
    color: #fff;
    font-family: sans-serif;
    width: 322px;
    /* margin: 90px; */
    line-height: 30px;
    font-stretch: 10;
    padding: 40px 0;
}
.row{
  margin:0 !important ;
  padding: 0 !important;
}
.cont
.img-puppy{
  margin:0 !important ;
  padding: 0 !important;
}
.section {
  background-color: #21B2A6;
  height: 560px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.description-section {
  width: 716px;
text-align: center;
}
.icon-section {
  width: 360px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.first{
  display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
